[Desktop Entry]
Comment=
Exec=bash ./bright.sh
Icon=brightnesssettings
Name=bright
NoDisplay=false
Path=/home/lukas/Desktop/proj/ddcscripts
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
